name: benches

on:
  pull_request:
    paths:
      - ".github/workflows/benches.yml"
      - "benches/**"
      - "Cargo.*"
  push:
    branches: master

defaults:
  run:
    working-directory: benches

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"

# Cancels CI jobs when new commits are pushed to a PR branch
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    if: false # benches are broken until https://github.com/RustCrypto/AEADs/pull/665 merges
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.85.0 # MSRV
          - stable
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - run: cargo bench --no-run
